.app {
    background-color: var(--ax-bg-sunken);
    padding: var(--ax-space-40) var(--ax-space-16);
    overflow: hidden;
}

.boks {
    padding: var(--ax-space-40);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--ax-radius-12);
    background: var(--ax-bg-raised);
    max-width: 35rem;
}

.lenker {
    display: flex;
    flex-direction: column;
    margin: var(--ax-space-40) 0;
    gap: 1rem;
}

.lenker a {
    flex: 1;
}

.artikkel {
    display: flex;
    padding: 0 2.5rem 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}
